body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 50px;
    height: 300px;
    background-color: #ccc;
    margin: 0 10px;
    position: relative;
}

.fill {
    width: 100%;
    background-color: #007bff;
    position: absolute;
    bottom: 0;
    transition: height 2s;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.percentage-text {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.percentage-text p {
    font-size: 18px;
}

.bar-plot-text {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

#pc80 {
    margin-right: -16px;
}

#pc30 {
    margin-left: -12px;
}